<h1>Posts:</h1>
<table>
  <% for (let post of posts) { %>
  <tr>
    <td>
      <p><%= post.title %></p>
    </td>
    <td>
      <% if (post.datosdeimagen === '') { %>
      <img class="attachment" src="../../images/none.jpg" width="75px" />
      <% } else { %>
      <img
        class="attachment"
        src="<%= post.datosdeimagen %>"
        alt="Image"
        width="300px"
      />
      <% } %>
    </td>
    <td>
      <a href="/posts/<%= post.id %>" class="button">Mostrar</a>
    </td>
    <td>
      <a href="/posts/<%= post.id %>/edit" class="button">Editar</a>
    </td>
    <td>
      <a
        href="/posts/<%= post.id %>?_method=DELETE"
        onClick="return confirm('Delete: <%= post %>');"
        class="button"
        >Borrar</a
      >
    </td>
  </tr>
  <% } %>
</table>
<a href="/posts/new" class="button">Crear nuevo post</a>
